@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;

  @include breakpoint($screen-sm-min) {
    font-size: 70%;
  }
}

body {
  background: #eeeeee;
  font-family: 'Montserrat', sans-serif;
  color: $color-black;
}
